*{
  box-sizing: border-box;
}

body{
  font-family: arial, sans-serif;
  width: 100%;
}

.header-content{
  display: flex;
  justify-content: space-between;
}
.btn-menu{
  border: none;
  background-color: none;
  padding: 8px;

}
.btn-menu-icon{
  width: 50%;
}
.nav{
  /*display: none;*/
}

.nav-small-link{
  text-decoration: none;

}
.nav-small-item{
  list-style: none;
}
